# Dependencies
node_modules/
**/node_modules/

# Expo & Build artifacts
.expo/
**/.expo/
dist/
**/dist/
web-build/

# EAS & Native builds
.eas/
android/
**/android/
ios/
**/ios/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*

# Environment variables
.env
.env*.local

# Key store / Signing keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# OS files
.DS_Store
Thumbs.db
